<!DOCTYPE html>


<html>
  <head>
    <title>/ascii/</title>

  </head>
  <style type="text/css">

    body {
        font-family: sans-serif:
        width: 800px;
        margin: auto;
        padding: 10px;
    }
    
    error {
        color: red;
    }
	
	.map {
                position: absolute;
                right: 0;
                top: 112px;
        }
    label {
        display: block;
        font-size: 20px;

    }
    input[type=text]{
        width: 400px;
        font-size: 20px;
        padding: 2px;
    }
    textarea{
        width: 400px; height: 200px; font-size: 17px; 
        font-family: monospace;
    }
    input[type=submit]{
        font-size: 24px;
    }
    hr{
       margin: 20px;
    }
    .art + .art {
        margin-top: 20px;
    }
    .art-title {
        font-weight: bold;
        font-size: 20px;
    }
    art-body {
        margin: 0;
        font-size: 17px;
    }

  </style>

  <body>
    <h1>/ascii/</h1>
    
    <form method="post">
      <label>

	<div>titulo</div><input type="text" name="title" value="{{title}}"/>

      </label>

      <label>

	<div>art</div><textarea name="art" value="{{art}}"></textarea>

      </label>
      <div class="error">{{ error }}</div>
      <br />
      <input type="submit"/>
      
    </form>

    <hr />

    {% block content %}

    {% endblock %}

  </body>


</html>
