% extends "base.html" %}

{% block content %}

    {% for art in arts %}
        <div class="art">
	  <div class="art-title"><strong>{{art.title}}</strong></div>
	  <span>{{art.created.strftime("%b %d, %Y")}}</span>
	  <pre class="art-body">{{art.art}}</pre>
	</div>
    {% endfor %}
	{% if img_url %}
  		<img  class="map" src="{{img_url}}">
  	{% endif %}


{% endblock %}
